.containerHeader {
  position: relative;
  padding: 24px 64px;
  background-color: var(--inputs);
}

.logo {
  position: absolute;
  top: 28px;
  /* left: 10%; */
}

.iconLogo {
  width: 136px;
  height: 15px;
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: color 250ms ease;
  transform: scale(1.1);
}

/* .link:first-child {
  padding-right: 32px;
} */

.active {
  color: var(--button-hover);
}
