.camperWrapper {
  display: flex;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  padding: 24px;
  margin-bottom: 32px;
}

.imgCar {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover; /* Масштабування та обрізка */
  object-position: 75% center; /* Центрування зображення */
}

/* .carInfo {
} */

.description {
  width: 525px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
